@import "tailwindcss";

/* dark mode base behavior */
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Yekan";
  src: url("./assets/fonts/yekanbakh/YekanBakh-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan";
  src: url("./assets/fonts/yekanbakh/YekanBakh-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan";
  src: url("./assets/fonts/yekanbakh/YekanBakh-SemiBold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Yekan";
  src: url("./assets/fonts/yekanbakh/YekanBakh-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan";
  src: url("./assets/fonts/yekanbakh/YekanBakh-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan";
  src: url("./assets/fonts/yekanbakh/YekanBakh-ExtraBlack.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Yekan", ui-sans-serif, system-ui, sans-serif;
  --font-yekan: "Yekan";
}

@layer base {
  body {
    font-family: "Yekan", sans-serif;
  }
}
